@import url('https://fonts.googleapis.com/css2?family=Anek+Telugu:wght@500&display=swap');

$default_font: 'Anek Telugu', sans-serif;;

.header {
  display: flex;
  place-content: center center;
  font-family: $default_font;
  margin: 20px;
}

.form > div {
  display: flex;
  flex-direction: column;
  margin: 7px;
}

.table {
  margin: 30px;

  .actions {
    display: flex;
    gap: 5px;
  }
}
